<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>




<ul>
  
  <li>calibrationPlatform.local/go2pose_mm/&ltpose_mm&gt</li>
    <ul>
      <li>Goes to a certain pose, regardless of the current pose. Takes the wanted pose in mm as input</li>
    </ul>
  
  <li>calibrationPlatform.local/calibrate</li>
    <ul>
      <li>Calibrates the target bed. Takes no input.</li>
    </ul>
  
  <li>calibrationPlatform.local/getCurrentHeight_mm</li>
    <ul>
      <li>Returns the current pose in mm. Takes no input</li>
    </ul>

  <li>calibrationPlatform.local/moveStepper_mm/&ltup_or_down&gt/&ltmm&gt/</li>
    <ul>
      <li>Moves the stepper from the current pose. Takes direction and mm travel as input.</li>    
    </ul>
</ul> 




</body>
</html> 